	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/12/2017 11:53
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-home:before { content: "\f100"; }
.flaticon-settings:before { content: "\f101"; }
.flaticon-compass:before { content: "\f102"; }
.flaticon-bathroom-faucet-tool:before { content: "\f103"; }
.flaticon-menu-button:before { content: "\f104"; }
.flaticon-tool:before { content: "\f105"; }
.flaticon-drill:before { content: "\f106"; }
.flaticon-like:before { content: "\f107"; }
.flaticon-bathtub:before { content: "\f108"; }
.flaticon-restaurant:before { content: "\f109"; }
.flaticon-delivery-truck-1:before { content: "\f10a"; }
.flaticon-coffee-shop:before { content: "\f10b"; }
.flaticon-list-menu:before { content: "\f10c"; }
.flaticon-tap:before { content: "\f10d"; }
.flaticon-message:before { content: "\f10e"; }
.flaticon-delivery-truck:before { content: "\f10f"; }
.flaticon-operator:before { content: "\f110"; }
.flaticon-construction-1:before { content: "\f111"; }
.flaticon-money:before { content: "\f112"; }
.flaticon-church:before { content: "\f113"; }
.flaticon-construction:before { content: "\f114"; }
.flaticon-engineer:before { content: "\f115"; }